header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about,
.image-section {
    width: 50%;
}

.image-section img {
    width: 300px;
}

footer {
    text-align: center;
}

@media (max-width: 700px) {
    main {
        flex-direction: column;
    }

    .about,
    .image-section {
        width: 100%;
    }
}